src/test/resources/aliases/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://service" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:abc="http://service">


    <complexType name="service">
    	<attribute name="name" type="string" use="required"></attribute>
    	<attribute name="description" type="string" use="required"></attribute>
    </complexType>

    <element name="service" type="abc:service"></element>
</schema>